
body {
  text-align: center;
  background-color: #001937;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color:#f2f6ff;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(153,103,186,1) 41.2%, rgba(0,113,227,1) 90% );
  background-attachment: fixed;
  padding-bottom: 50px;
}

h1 {
  text-transform: uppercase;
  font-size: 90px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 0 15px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 45px;
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 26px 0 10px 0;
  list-style: none;
}

.menu-item {
  width: 90px;
  padding: 10px 15px;
  font-weight: bold;
  margin: 0 10px;
  border-radius: 50px;
  border: 3px solid white;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 300ms ease-in-out;
}

.menu-item:hover,
.menu-item.is-active {
  opacity: 1;
}

p {
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  line-height: 26px;
  max-width: 650px;
}

figure {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 0;
  max-width: 1000px;
  padding: 0;
  margin: 0 auto;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  overflow: hidden;
  pointer-events: none;
  visibility: hidden;
}

.collection.is-active {
  height: auto;
  opacity: 1;
  overflow: visible;
  visibility: visible;
  pointer-events: visible;
}

@media (max-width: 768px) {
  .collection {
    margin-top: 22px;
  }
}

.game {
  position: relative;
  counter-increment: inst;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 250px;
  margin: 3.7% 3.7% 0 3.7%;
}

.game-art img {
  transition: all ease-in-out 300ms;
  box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
  cursor: pointer;
}

@media (min-width: 768px) {
  .game.is-active .game-art img,
  .game-art img:hover {
    box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
    transform: translate(0px, -10px) scale(1);
  }
}

.game.is-active .game-art img,
.game.playing .game-art img {
  filter: grayscale(100%);
}

.game.playing {
  pointer-events: none;
}

.game-info::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-weight: bold;
  content: counter(inst);
  color: white;
  font-size: 40px;
}

.game-info {
  cursor: pointer;
  position: relative;
  left: 0;
  right: 0;
  height: 49px;
  width: 50px;
  display: inline-block;
  margin: 22px auto 0 auto;
}

.game-art:hover .game-info::after {
    position: absolute;
    top: 5px;
    left: 11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 20px 35px;
    border-color: transparent transparent transparent #f2f6ff;
    content: '';
}

.game.is-active .game-info::after {
  position: absolute;
  top: 10px;
  left: 11px;
  width: 10px;
  height: 30px;
  background-color: #f2f6ff;
  border: none;
  content: '';
}

.game-art:hover .game-info::before  {
  opacity: 0;
}

.game.is-active .game-info::before {
    position: absolute;
    top: 10px;
    right: 11px;
    left: initial;
    width: 10px;
    height: 30px;
    background-color: #f2f6ff;
    border: none;
    content: '';
    opacity: 1;
}

footer {
  margin-top: 50px;
  margin-bottom: 10px;
}

footer a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-image: url('pad.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  text-indent: -9999px;
}