html {
    box-sizing: border-box
}

*, *:before, *:after {
    box-sizing: inherit
}

body {
    background-color: #BC0D2A;
    color: white;
    text-align: center;
    font-family: 'Muli', sans-serif;
    position: relative;
    margin: 0;
}

body img {
    max-width: 90%;
    border: 10px solid #DEDEDE;
}

body a {
    color: white;
    text-decoration: none;
    border-bottom: 1px dashed white;
}

body a:visited {
    color: white;
}

header {
  text-align: center;
  background-color: #DC0A2D;
  color: white ;
}

header .title-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .blue-light {
    height: 70px;
    width: 70px;
    background-color: #2475A8;
    background-image: linear-gradient(-180deg, #4BADD3 0%, #2475A8 50%);
    border-radius: 50%;
    border: 5px solid #C9C9C9;
    float: left;
    flex: none;
    margin-right: 20px;
    margin-top: 10px;
}

@media (max-width: 650px) {
    header .blue-light {
      height: 50px;
      width: 50px;
    }  
}

header h1 {
    margin: 0;
    font-size: 46px;
    font-family: 'Muli';
    clear: both;
    padding-top: 15px ;
}

@media (max-width: 650px) {
    header h1 {
        font-size: 23px;
    }  
}

header span {
    font-family: 'Muli';
    font-weight: light;
    font-style: italic;
    font-weight: 300;   
}

header .poke-quote {
    background-color: #292929;
    padding: 10px 0;
    font-size: 18px;
    font-family: 'Avenir-LightOblique';
    clear: both;
    box-shadow: 0px 5px 14px rgba(0, 0, 0, 0.4);
}

@media (max-width: 650px) {
    header .poke-quote {
        font-size: 11px;    
    }
}

.container {
    padding: 0 15px 0 15px;
    margin: 0 auto 0 auto;
    max-width: 750px;
}

.entry {
    margin-bottom: 30px
}

.entry .date {
    background-color: #3CAC4C;
    display: inline-block;
    width: 30%;
    border: 2px solid #232323;
    margin-right: 20px;
    padding: 5px;   
    margin-top: 15px;
}

@media (max-width: 650px) {
    .entry .date {
        font-size: 12px;  
    }
}

.entry .title {
    background-color: #2475A8;
    display: inline-block;
    width: 30%;
    max-width: 500px;
    border: 2px solid #232323;
    padding: 5px;
}

.entry a {
    border: 0;
}

@media (max-width: 650px) {
    .entry .title {
        font-size: 12px;
    }
}

.footer {
  text-align: center;
  background-color: #8A061C;
  width: 100%;
  height: 70px;
}

.footer p {
    padding-top: 20px;
    font-size: 20px;
    font-style: italic;  
}

@media (max-width: 650px) {
    footer p {
        font-size: 15px;
    }
}